# Ignore node_modules directory
node_modules

# Ignore npm debug log
npm-debug.log

# Ignore yarn lock file
yarn.lock

# Ignore .git directory
.git

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore development and test files
*.dev
*.test

# Ignore log files
*.log

# Ignore system and temporary files
.DS_Store
Thumbs.db
